n8n-workflow.json
{
  "name": "営業アシスタント - 朝のアポ情報自動収集と通知 (Step 1-2: トリガー・データ取得)",
  "nodes": [
    {
      "parameters": {
        "content": "## 処理実行日のイベントをGoogleカレンダーから取得 ##\n\n以下の場合、処理を終了\n・イベントが1件も無い\n・取得したイベントの詳細に「会社名」が記載されているイベントが1件も無い",
        "height": 336,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        368
      ],
      "typeVersion": 1,
      "id": "93b73a3e-7144-4bd8-8897-f6a43d6e398a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 7,
              "minute": 0
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "実行スケジュールを設定",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1.1,
      "position": [
        144,
        480
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ykawamoto.webdev@gmail.com",
          "mode": "list",
          "cachedResultName": "ykawamoto.webdev@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $json.start }}",
        "timeMax": "={{ $json.end }}",
        "options": {
          "orderBy": "startTime",
          "timeZone": {
            "__rl": true,
            "value": "Japan",
            "mode": "list",
            "cachedResultName": "Japan"
          }
        }
      },
      "id": "google-calendar",
      "name": "今日の予定を取得",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        688,
        528
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ymdq61s69Vzqs4lz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "0dffe7fb-3872-4862-ab95-b6761031e21f",
              "leftValue": "={{ $json.description }}",
              "rightValue": "会社名",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-filter",
      "name": "予定の詳細から会社名を取得",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        528
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=次のテキストから「商談先の会社名」と判断できる名称を1つだけ抽出してください。\n\n{{ $json.description }}"
            },
            {
              "content": "あなたは日本語の営業スケジュールの説明文から会社名を抽出するエキスパートです。\n\n- 出力は会社名1件のみを、テキスト中の表記そのままで返してください。\n- 会社名以外の部署名・担当者名・日付・記号などは含めないでください。\n- 会社名の前後にスペース・改行・引用符・記号などを追加しないでください。\n- 複数候補がある場合は、もっとも商談相手らしい会社名を1つだけ選んでください。\n- どうしても会社名が見つからない場合は「不明」と出力してください。\n",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        816
      ],
      "id": "93db055a-189b-4e88-8b7a-1ad8d833ec64",
      "name": "予定の詳細から会社名を取得1",
      "credentials": {
        "googlePalmApi": {
          "id": "ZYpQXzQlNE3gQdch",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "q": "={{ $json.output[0].content[0].text }}",
        "additionalFields": {
          "num": "1"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        736,
        816
      ],
      "id": "0bc1a721-b23a-455b-b5e0-6b047a02a483",
      "name": "Google search",
      "credentials": {
        "serpApi": {
          "id": "8E5EFNSEQKyTSOcs",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.organic_results[0].link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        816
      ],
      "id": "7e5be76e-50e7-43b9-9f8e-056d8681204c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "==あなたはHTML分析の専門家です。\n与えられたHTMLを分析し、そのサイト内に存在する主要な画面の名称と、それぞれの絶対URLを抽出してください。\nベースURLは `{{ $('Google search').item.json.organic_results[0].link }}` とします。\n\n### ルール\n\n- 対象はベースURLと同じドメインのページのみとします。\n- `mailto:`, `tel:`, `javascript:`, `#` のみのリンクは除外してください。\n- 同じURLは1件にまとめ、もっとも分かりやすい画面名を1つだけ付けてください。\n\n### 出力形式（厳守）\n\n**出力は、次のJSONオブジェクト1つだけにしてください。**\n**Markdownのコードフェンス（```）や説明文、日本語の文章は絶対に出力してはいけません。**\n\n例:\n\n{\n  \"画面名1\": \"https://example.com/page1\",\n  \"画面名2\": \"https://example.com/page2\"\n}\n\n上記と同じ構造のJSONオブジェクトのみを返してください。\n\n# html\n{{ $json.data }}\n"
            },
            {
              "content": "あなたはHTML分析の専門家です。\n出力形式の制約を必ず守り、指定されたJSONオブジェクト以外のテキストは一切出力しないでください。",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1648,
        816
      ],
      "id": "58c19e73-162d-405e-aeec-9fb7e24a02a5",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "fQiSgPczUAw5I1dI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// pagesJson が JSON文字列の場合\nconst obj = JSON.parse($input.first().json.output[0].content[0].text);\n\n// もしすでにオブジェクトになってるなら\n// const obj = $json; でもOK\n\nconst items = [];\n\nfor (const [label, url] of Object.entries(obj)) {\n  items.push({\n    json: {\n      label, // HOME / 物件情報 など\n      url\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        816
      ],
      "id": "775170ee-93d4-4609-b6bb-6a15bd71642f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        1136
      ],
      "id": "1bb3405b-3f05-4a6b-83db-3bfb72fc23c6",
      "name": "HTTP Request1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        640,
        1120
      ],
      "id": "3d789d0d-bdbe-497d-80b6-4830a131fc5a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "==次のHTML（企業サイト全体から取得したもの）を分析し、商談準備に必要な会社情報を抽出してJSONで出力してください。\n\n### 抽出・要約する項目\n\n1.  会社名\n2.  社員数\n    - 概算や「非公開」など、分かる範囲で記載してください。\n3.  所在地\n    - 主な本社所在地を1つだけ記載してください。\n4.  電話番号\n    - 代表電話番号と思われるものを1つだけ記載してください。\n5.  事業内容\n    - 簡潔かつ具体的に、2〜4文程度で要約してください。\n6.  注目箇所\n    - 競合優位性、強み、特徴的なサービス、最近のニュース、課題感など、\n      商談のアイスブレイクや深掘りに使えそうなポイントを2〜3個、箇条書きでまとめてください。\n\n### 出力形式（厳守）\n\n以下のJSON形式のみを出力してください。説明文や見出し、日本語の文章は一切含めないでください。\n\n{\n  \"会社名\": \"ここに会社名を記述\",\n  \"社員数\": \"ここに社員数を記述（不明な場合は「不明」など）\",\n  \"所在地\": \"ここに所在地を記述\",\n  \"電話番号\": \"ここに電話番号を記述（不明な場合は「不明」など）\",\n  \"事業内容\": \"ここに事業内容の要約を記述\",\n  \"注目箇所\": [\n    \"ここにポイント1を記述\",\n    \"ここにポイント2を記述\",\n    \"ここにポイント3を記述（任意）\"\n  ]\n}\n\n必ずすべてのキーを含めてください。不明な値は「不明」などのテキストで補って構いません。\n\n# html\n{{ $json.data }}\n"
            },
            {
              "content": "あなたは優秀なアナリストです。\n企業Webサイトから営業に役立つ会社情報を抽出し、指定されたJSON形式に正確に整理します。\nJSON以外のテキストは一切出力しないでください。",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        1136
      ],
      "id": "41774bec-d7e7-4499-8c14-06f92ac02504",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "fQiSgPczUAw5I1dI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 会社のサイトを取得し、全画面のURLを取得 ##\n",
        "height": 288,
        "width": 1264
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        736
      ],
      "typeVersion": 1,
      "id": "b24cb09a-1396-4c45-803c-4ac0ac17efbc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d74d4760-fa36-4503-9f9a-e3f7215b0e10",
              "name": "start",
              "value": "={{ $now.setZone('Asia/Tokyo').startOf('day').toISO() }}",
              "type": "string"
            },
            {
              "id": "51f4f153-a38f-4a73-9dd9-b272637a1425",
              "name": "end",
              "value": "={{ $now.setZone('Asia/Tokyo').endOf('day').toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-date",
      "name": "実行日を設定",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        528
      ]
    },
    {
      "parameters": {
        "content": "## 全画面の情報をまとめて、分析・要約 ##\n",
        "height": 272,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        1056
      ],
      "typeVersion": 1,
      "id": "9e6ab110-2658-4107-a171-49be4b1de24d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "// スプレッドシートのヘッダー名（1行目と同じ順番で並べる）\nconst headers = [\n  \"会社名\",\n  \"社員数\",\n  \"所在地\",\n  \"電話番号\",\n  \"事業内容\",\n  \"注目箇所\"\n];\n\n// JSONに変換\nconst ai = JSON.parse($input.first().json.output[0].content[0].text);\n\n// 1行分の配列を作る\nconst row = headers.map(h => {\n  const val = ai[h];\n\n  if (Array.isArray(val)) {\n    // 配列 → 箇条書き形式にする\n    return \"・\" + val.join(\"\\n・\");\n  }\n\n  return val ?? \"\";\n});\n\nreturn [\n  {\n    json: {\n      values: row   // Google Sheets に渡す値\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        1120
      ],
      "id": "3a502cde-4e53-40f7-82b7-6770967960d9",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12T-a93d4xecNT3aBqh3nowKqrZwjL4n9da_-TxCgBgQ",
          "mode": "list",
          "cachedResultName": "今日のアポ予定",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12T-a93d4xecNT3aBqh3nowKqrZwjL4n9da_-TxCgBgQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "アポ一覧",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12T-a93d4xecNT3aBqh3nowKqrZwjL4n9da_-TxCgBgQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            " 会社名": "={{ $json.values[0] }}",
            "所在地": "={{ $json.values[2] }}",
            "社員数": "={{ $json.values[1] }}",
            "電話番号": "={{ $json.values[3] }}",
            "事業内容": "={{ $json.values[4] }}",
            "注目点": "={{ $json.values[5] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": " 会社名",
              "displayName": " 会社名",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "社員数",
              "displayName": "社員数",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "所在地",
              "displayName": "所在地",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "電話番号",
              "displayName": "電話番号",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "事業内容",
              "displayName": "事業内容",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "注目点",
              "displayName": "注目点",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        1120
      ],
      "id": "ed2bfd91-dd6b-445c-8f3e-323a8f6db52d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Yf5wDDOhwVal4nL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "responses": {
          "values": [
            {
              "content": "=次のテキストから「商談先の会社名」と判断できる名称を1つだけ抽出してください。\n\n{{ $json.description }}"
            },
            {
              "role": "system",
              "content": "あなたは日本語の営業スケジュールの説明文から会社名を抽出するエキスパートです。\n\n- 出力は会社名1件のみを、テキスト中の表記そのままで返してください。\n- 会社名以外の部署名・担当者名・日付・記号などは含めないでください。\n- 会社名の前後にスペース・改行・引用符・記号などを追加しないでください。\n- 複数候補がある場合は、もっとも商談相手らしい会社名を1つだけ選んでください。\n- どうしても会社名が見つからない場合は「不明」と出力してください。"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        432,
        816
      ],
      "id": "b961d7cb-da44-464a-9e49-d0afc01a4086",
      "name": "Message a model3",
      "credentials": {
        "openAiApi": {
          "id": "UwwVtX5fY946pl4r",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "responses": {
          "values": [
            {
              "content": "==あなたはHTML分析の専門家です。\n与えられたHTMLを分析し、そのサイト内に存在する主要な画面の名称と、それぞれの絶対URLを抽出してください。\nベースURLは `{{ $('Google search').item.json.organic_results[0].link }}` とします。\n\n### ルール\n\n- 対象はベースURLと同じドメインのページのみとします。\n- `mailto:`, `tel:`, `javascript:`, `#` のみのリンクは除外してください。\n- 同じURLは1件にまとめ、もっとも分かりやすい画面名を1つだけ付けてください。\n\n### 出力形式（厳守）\n\n**出力は、次のJSONオブジェクト1つだけにしてください。**\n**Markdownのコードフェンス（```）や説明文、日本語の文章は絶対に出力してはいけません。**\n\n例:\n\n{\n  \"画面名1\": \"https://example.com/page1\",\n  \"画面名2\": \"https://example.com/page2\"\n}\n\n上記と同じ構造のJSONオブジェクトのみを返してください。\n\n# html\n{{ $json.data }}\n"
            },
            {
              "role": "system",
              "content": "あなたはHTML分析の専門家です。\n出力形式の制約を必ず守り、指定されたJSONオブジェクト以外のテキストは一切出力しないでください。\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1056,
        816
      ],
      "id": "a588c7d4-5f3b-4931-bea8-4e862ab2a1be",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "UwwVtX5fY946pl4r",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "responses": {
          "values": [
            {
              "content": "==次のHTML（企業サイト全体から取得したもの）を分析し、商談準備に必要な会社情報を抽出してJSONで出力してください。\n\n### 抽出・要約する項目\n\n1.  会社名\n2.  社員数\n    - 概算や「非公開」など、分かる範囲で記載してください。\n3.  所在地\n    - 主な本社所在地を1つだけ記載してください。\n4.  電話番号\n    - 代表電話番号と思われるものを1つだけ記載してください。\n5.  事業内容\n    - 簡潔かつ具体的に、2〜4文程度で要約してください。\n6.  注目箇所\n    - 競合優位性、強み、特徴的なサービス、最近のニュース、課題感など、\n      商談のアイスブレイクや深掘りに使えそうなポイントを2〜3個、箇条書きでまとめてください。\n\n### 出力形式（厳守）\n\n以下のJSON形式のみを出力してください。説明文や見出し、日本語の文章は一切含めないでください。\n\n{\n  \"会社名\": \"ここに会社名を記述\",\n  \"社員数\": \"ここに社員数を記述（不明な場合は「不明」など）\",\n  \"所在地\": \"ここに所在地を記述\",\n  \"電話番号\": \"ここに電話番号を記述（不明な場合は「不明」など）\",\n  \"事業内容\": \"ここに事業内容の要約を記述\",\n  \"注目箇所\": [\n    \"ここにポイント1を記述\",\n    \"ここにポイント2を記述\",\n    \"ここにポイント3を記述（任意）\"\n  ]\n}\n\n必ずすべてのキーを含めてください。不明な値は「不明」などのテキストで補って構いません。\n\n# html\n{{ $json.data }}\n"
            },
            {
              "role": "system",
              "content": "あなたは優秀なアナリストです。\n企業Webサイトから営業に役立つ会社情報を抽出し、指定されたJSON形式に正確に整理します。\nJSON以外のテキストは一切出力しないでください。"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        816,
        1120
      ],
      "id": "706adc05-4305-48fc-9c70-519d5dacd08d",
      "name": "Message a model4",
      "credentials": {
        "openAiApi": {
          "id": "UwwVtX5fY946pl4r",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "q": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "num": "1"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        128,
        816
      ],
      "id": "c9cb4536-d791-45dc-8319-dd9631acb62d",
      "name": "Google search1",
      "credentials": {
        "serpApi": {
          "id": "8E5EFNSEQKyTSOcs",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// pagesJson が JSON文字列の場合\nconst obj = JSON.parse($input.first().json.content.parts[0].text);\n\n// もしすでにオブジェクトになってるなら\n// const obj = $json; でもOK\n\nconst items = [];\n\nfor (const [label, url] of Object.entries(obj)) {\n  items.push({\n    json: {\n      label, // HOME / 物件情報 など\n      url\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        816
      ],
      "id": "a75cf308-9b98-4aa4-9f9b-9ca4cb064292",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "// スプレッドシートのヘッダー名（1行目と同じ順番で並べる）\nconst headers = [\n  \"会社名\",\n  \"所在地\",\n  \"電話番号\",\n  \"事業内容\",\n  \"注目箇所\"\n];\n\n// JSONに変換\nconst ai = JSON.parse($input.first().json.content.parts[0].text\n\n// 1行分の配列を作る\nconst row = headers.map(h => ai[h] ?? '');\n\nreturn [\n  {\n    json: {\n      values: row   // Google Sheets に渡す値\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        1136
      ],
      "id": "e6acea23-2956-41f3-bc84-347af77ed4ee",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "wu_assignment_n8n",
          "mode": "name"
        },
        "text": "={{ $json.slack_text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        880,
        1440
      ],
      "id": "7ab8f412-a6a3-4b02-954b-9a9ee1a999f4",
      "name": "Send a message",
      "webhookId": "9a70e39c-b7a7-4711-8c0a-f013c7f64eae",
      "credentials": {
        "slackApi": {
          "id": "7nmam0yciuYbtTyh",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 要約内容を構造化し、スプレッドシートに追加\n",
        "height": 272,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        1056
      ],
      "typeVersion": 1,
      "id": "7b261eff-7982-47bc-856b-6a73f0ab6661",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 通知メッセージを作成してそれぞれのツールで通知",
        "height": 448,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        1360
      ],
      "typeVersion": 1,
      "id": "01f152f7-9653-48ea-8193-9046d082bc17",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "responses": {
          "values": [
            {
              "content": "==以下の「商談先の会社情報」をもとに、\n社内の営業担当に向けた応援メッセージを作成してください。\n\nこのメッセージは、次の2つの出力を同時に含む JSON 形式で返してください。\n\n1. Slack 用のテキストメッセージ（改行は \\n）\n2. メール用の HTML メッセージ（改行は <br>）\n\n必ず **以下の JSON だけ** を出力し、それ以外の文字や説明、Markdown のコードブロック（```json など）は一切含めないでください。\n\n{\n  \"slack_text\": \"ここに Slack 用のテキストメッセージ\",\n  \"email_html\": \"ここに HTML メール用のメッセージ\"\n}\n\n### 共通の内容・構成\n\nSlack 版・HTML 版ともに、内容の構成は同じにしてください。\nそれぞれ、必ず以下の3ブロック構成で出力してください。\n\n【今日のアポ先のポイント】\n・（ここに箇条書きで2〜3行）\n\n【事前に押さえておきたい情報】\n・（ここに箇条書きで2〜3行）\n\n【ひと言応援コメント】\n・（ここに営業担当への一言メッセージ）\n\n### 各フィールドのフォーマット指定\n\n#### 1. slack_text\n\n- 上記の3ブロック構成を、そのままテキストで表現してください。\n- ブロックや箇条書きの区切りには \\n で改行を入れてください。\n- 例（あくまでフォーマット例）：\n\n【今日のアポ先のポイント】\n・〜〜〜\n・〜〜〜\n\n【事前に押さえておきたい情報】\n・〜〜〜\n\n【ひと言応援コメント】\n・〜〜〜\n\n#### 2. email_html\n\n- 同じ内容を HTML 形式で出力してください。\n- 改行には <br> を使用してください。\n- 箇条書きには「・」を使ってください（ul/li でなくてもよい）。\n- 重要な見出し（3つのブロックタイトル）は <strong> で囲んでください。\n- 例（あくまでフォーマット例）：\n\n<strong>【今日のアポ先のポイント】</strong><br>\n・〜〜〜<br>\n・〜〜〜<br>\n<br>\n<strong>【事前に押さえておきたい情報】</strong><br>\n・〜〜〜<br>\n・〜〜〜<br>\n<br>\n<strong>【ひと言応援コメント】</strong><br>\n・〜〜〜<br>\n\n### 制約\n\n- 文章はすべて日本語で書いてください。\n- 「お世話になっております」など、社外メール風の書き出しは不要です。\n- 商談先の会社を表す際は「先方」と表現してください。\n- 商談先の担当者に直接話しかけるような表現（例：「本日はよろしくお願いいたします」など）は使わないでください。\n- 出力に会社情報そのもの（住所や電話番号などの羅列）をそのまま貼る必要はありません。\n  メッセージ中で自然に触れる形で活用してください。\n- JSON 以外のテキスト（前置き・後書き・説明文・コードブロック）は一切出力しないでください。\n\n# 商談先の会社情報\n会社名：{{ $json[' 会社名'] }}\n事業内容：{{ $json['事業内容'] }}\n注目箇所：{{ $json['注目点'] }}\n"
            },
            {
              "role": "system",
              "content": "あなたは優秀な秘書です。\n丁寧かつフレンドリーな日本語で文章を書きます。\n\nこのメッセージは「商談先の会社」に送るものではありません。\n社内の「営業担当個人」に向けた、社内限定のサポート・応援メッセージです。\n商談先の担当者に話しかけるような文言は絶対に使わないでください。\n\n営業担当が、今日の商談のポイントを素早く把握できて、\n前向きな気持ちで商談に臨めるようなメッセージを作成してください。\n\n出力形式は必ず JSON オブジェクト 1つのみとし、\nプロパティ \"slack_text\" と \"email_html\" を必ず含めてください。\nJSON の外側に余計な文字や説明文を付け加えないでください。\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        384,
        1440
      ],
      "id": "56b07e8d-6c16-4997-9b99-d3ac8a42fc7d",
      "name": "Message a model5",
      "credentials": {
        "openAiApi": {
          "id": "UwwVtX5fY946pl4r",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ykawamoto.webdev@gmail.com",
        "subject": "本日のアポイントメント",
        "message": "={{ $json.email_html }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        1648
      ],
      "id": "6deebea6-f92f-4436-91f6-79b261322614",
      "name": "Send a message1",
      "webhookId": "eb9cafb2-e03a-412b-a237-94153dbcdd7c",
      "credentials": {
        "gmailOAuth2": {
          "id": "eDKe7LF9AQCXfVuV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output[0].content[0].text\nconst obj = JSON.parse(raw);\n\n\nreturn [{\n  slack_text: obj.slack_text,\n  email_html: obj.email_html\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1440
      ],
      "id": "c0741f1e-084f-4ada-849e-dba0c44083c5",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "==次のHTML（企業サイト全体から取得したもの）を分析し、商談準備に必要な会社情報を抽出してJSONで出力してください。\n\n### 抽出・要約する項目\n\n1.  会社名\n2.  社員数\n    - 概算や「非公開」など、分かる範囲で記載してください。\n3.  所在地\n    - 主な本社所在地を1つだけ記載してください。\n4.  電話番号\n    - 代表電話番号と思われるものを1つだけ記載してください。\n5.  事業内容\n    - 簡潔かつ具体的に、2〜4文程度で要約してください。\n6.  注目箇所\n    - 競合優位性、強み、特徴的なサービス、最近のニュース、課題感など、\n      商談のアイスブレイクや深掘りに使えそうなポイントを2〜3個、箇条書きでまとめてください。\n\n### 出力形式（厳守）\n\n以下のJSON形式のみを出力してください。説明文や見出し、日本語の文章は一切含めないでください。\n\n{\n  \"会社名\": \"ここに会社名を記述\",\n  \"社員数\": \"ここに社員数を記述（不明な場合は「不明」など）\",\n  \"所在地\": \"ここに所在地を記述\",\n  \"電話番号\": \"ここに電話番号を記述（不明な場合は「不明」など）\",\n  \"事業内容\": \"ここに事業内容の要約を記述\",\n  \"注目箇所\": [\n    \"ここにポイント1を記述\",\n    \"ここにポイント2を記述\",\n    \"ここにポイント3を記述（任意）\"\n  ]\n}\n\n必ずすべてのキーを含めてください。不明な値は「不明」などのテキストで補って構いません。\n\n# html\n{{ $json.data }}\n"
            },
            {
              "content": "あなたは優秀なアナリストです。\n企業Webサイトから営業に役立つ会社情報を抽出し、指定されたJSON形式に正確に整理します。\nJSON以外のテキストは一切出力しないでください。",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        416,
        1664
      ],
      "id": "0fa0b2b4-4b70-4901-8eb0-7bdf9f677b44",
      "name": "Message a model6",
      "credentials": {
        "googlePalmApi": {
          "id": "fQiSgPczUAw5I1dI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "実行スケジュールを設定": {
      "main": [
        [
          {
            "node": "実行日を設定",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "今日の予定を取得": {
      "main": [
        [
          {
            "node": "予定の詳細から会社名を取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "予定の詳細から会社名を取得": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "予定の詳細から会社名を取得1": {
      "main": [
        [
          {
            "node": "Google search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google search": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "実行日を設定": {
      "main": [
        [
          {
            "node": "今日の予定を取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Google search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a37e2001-a020-4d9e-bfea-a2537887e1c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "077ecc1b196fab88f4999f8b4c1881479a08a92f1abb5cc867f30e0757e3ab62"
  },
  "id": "Ksvgoki9eqjLtriJ",
  "tags": []
}